@use "theme" as *;

audio-controls-container {
    margin-left: 0px;
    margin-right: 0px;
}

audio-icon {
    color: $subtext1;
}

audio-percent {
    color: $subtext1;
    font-size: 18px;
    font-weight: 600;
    background-color: $mantle-transparent;
    border: 1px solid $base;
    border-radius: $border-radius;
    min-width: 40px;
    min-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

audio-slider-button {
    background: none;
}

slider-content-header {
    color: $subtext1;
    margin-bottom: 10px;
}

slider-content-extender {
    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
    color: $subtext1;
    font-size: 28px;
    font-weight: 800;
    margin-left: 10px;
}

slider-content-extender:hover {
    color: $accent-background;
    transform: rotate(90deg);
}

slider-content {
    background-color: $base-transparent;
    border-top: 2px solid $surface2;
    border-radius: $border-radius;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 100px;
    font-size: 14px;
    padding: 10px;
}

slider-content-param {
    color: $subtext1;
    font-size: 14px;
}