@use "theme" as *;

audio-controls-container {
    margin-left: 0px;
    margin-right: 0px;
}

audio-icon {
    color: $overlay1;
}

audio-percent {
    color: $overlay1;
    font-size: 18px;
    font-weight: 600;
    background-color: $mantle-transparent;
    border: 1px solid $base;
    border-radius: $border-radius;
    min-width: 40px;
    min-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}