@use "theme" as *;

devices-box {
    border-bottom: 1px solid $mantle;
    padding: 5px;
}

devices-box-row {
    color: $subtext1;
    font-weight: 400;
    font-size: 14px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: $border-radius;
    background: $surface0;
    margin-bottom: 2px;
}

devices-box-row:hover {
    color: $crust;
    background: $accent-background;
}

devices-box-row:selected {
    color: $crust;
    background: $green;
}

badge {
    padding-left: 5px;
    padding-right: 5px;
}

freq-2g {
    @extend badge;
    color: $flamingo;
}

freq-5g {
    @extend badge;
    color: $mauve;
}

auth-required {
    @extend badge;
    color: $yellow;
}

auth-not-required {
    @extend badge;
    color: $teal;
}

device-name {
    color: $subtext1;
}