@use "theme" as *;

brightness-icon {
    color: $subtext1;
    font-size: 34px;
}

brightness-percent {
    color: $subtext1;
    font-size: 18px;
    font-weight: 600;
    background-color: $mantle-transparent;
    border: 1px solid $base;
    border-radius: $border-radius;
    min-width: 40px;
    min-height: 40px;
    margin-left: 25px;
    margin-right: 10px;
}