@use "theme" as *;

modules-right-container {
  background-color: $base-transparent;
  border: 2px solid $base;
  border-radius: $border-radius;
  height: auto;
  padding: 20px;
}

system-info-pill-container {
  background-color: $crust-transparent;
  border: 2px solid $surface0;
  box-shadow: inset 0 -1px 0 0 $surface0, 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: $border-radius;
  min-width: 400px;
  padding: 10px;
}