@use "theme" as *;

modules-right-container {
  background-color: $base-transparent;
  border: 2px solid $base;
  border-radius: $border-radius;
  min-height: 1000px;
  padding: 20px;
}

app-launcher-background-right {
  background-color: $sky;
  border-radius: $border-radius;
}


system-info-pill-container {
  background-color: $crust-transparent;
  border: 1px solid $surface0;
  border-radius: $border-radius;
  min-width: 500px;
  padding: 10px;
}