@use "theme" as *;

modules-right-container {
  background-color: $base-transparent;
  border: 2px solid $base;
  border-radius: $border-radius;
  min-height: 1000px;
  padding: 20px;
}

system-info-pill-container {
  background-color: $crust-transparent;
  border: 2px solid $surface0;
  border-radius: $border-radius;
  min-width: 400px;
  padding: 10px;
}