@use "theme" as *;

battery-percent {
    background: none;
    font-size: 14px;
    font-weight: 800;
    color: $overlay1;
    text-shadow:
        2px 2px 0 $crust,
        -2px -2px 0 $crust,
        2px -2px 0 $crust,
        -2px 2px 0 $crust;
}

battery-bar {
    padding-bottom: 2px;
    >trough {
        border-radius: $border-radius;
        padding: 6px;
        background-color: $base-transparent;
    }

    >trough block.low {
        border-radius: $border-radius;
        padding: 2px;
        background-color: $peach;
    }

    >trough block.high {
        border-radius: $border-radius;
        background-color: $yellow;
    }

    >trough block.full {
        border-radius: $border-radius;
        background-color: $green;
    }

    >trough block.empty {
        background-color: transparent;
    }
}