@use "theme" as *;

tray-container {}

tray-module-button {
  border-radius: $border-radius;
  transition: transform 340ms cubic-bezier(.33, 1, .68, 1);
  min-width: 50px;
}

tray-module-button>button {
  background-color: transparent;
  transform: scale(1);
}

tray-module-button:hover {
  transform: scale(1.25);
}

tray-module-button-image {
  background-color: transparent;
  color: $subtext1;
  -gtk-icon-size: 22px;
}