@use "theme" as *;

weather-container {
  background-color: $base-transparent;
  border-radius: $border-radius;
}

bar-weather-icon {
  font-weight: 600;
  color: $overlay1;
  padding-left: 10px;
  padding-right: 10px;
}

bar-weather-temperature {
  font-weight: 600;
  color: $overlay1;
}

detail-weather-icon {
  color: $overlay1;
  font-size: 32px;
}

detail-weather-temp {
  color: $overlay1;
  font-size: 32px;
}

detail-weather-details-label {
  color: $overlay1;
  min-width: 160px;
  font-size: 16px;
}

detail-weather-details-value {
  color: $overlay1;
  background-color: $mantle-transparent;
  min-width: 100px;
  padding: 10px;
  font-size: 16px;
  border-radius: $border-radius;
}