@use "theme" as *;

cava {
    color: $accent-background;
    background-color: $base-transparent;
    border-radius: $border-radius;
    font-size: 12px;
    letter-spacing: -4px;
    /* Pulls the bars horizontally closer together */
    font-stretch: ultra-condensed;
    /* Squishes the characters if supported by the font */
}

cava-bar {
    background-color: $red;
}

.player-button {
    padding: 5px;
    border: 2px solid transparent;
}

.player-tab {
    @extend .player-button;
    border: 2px solid $overlay1;
}

.active-player-tab {
    @extend .player-button;
    border: 2px solid $white;
}

.playing-player-tab {
    @extend .player-button;
    border: 2px solid $green;
}