@use "theme" as *;

brightness-icon {
    color: $overlay1;
    font-size: 28px;
    margin-left: 10px;
}

brightness-percent {
    color: $subtext1;
    font-size: 14px;
    font-weight: 600;
    background-color: $surface0;
    border: 1px solid $overlay0;
    border-radius: $border-radius;
    min-width: 40px;
    min-height: 40px;
    margin-left: 25px;
    margin-right: 10px;
}