@use "theme" as *;

#js-shell-modules-left,
#js-shell-modules-center,
#js-shell-modules-right {
  background-color: $base-transparent;
  border-radius: $border-radius;
  border: 2px solid $surface0;
  padding: 0px;
}

popup-window-style {
  border-radius: $border-radius;
  background-color: transparent;
}

#js-shell-modules-left {
  padding: 20px;
}

#js-shell-desktopmenu {
  background-color: transparent;
  padding: 5px;
}

tooltip {
  background-color: $mantle-transparent;
  color: $overlay1;
  font-size: 16px;
  border-radius: $border-radius;
  border: 2px solid $surface1;
  padding: 10px;
}

invisible-backdrop-window {
  background-color: transparent;
  background: none;
  box-shadow: none;
  border-radius: 0;
}

invisible-backdrop {
  background: rgba(0, 0, 0, 0.0039);
  border: none;
  box-shadow: none;
  border-radius: 0px;
}

bar-button-background {
  background-color: $surface2;
  border-radius: $border-radius;
}

bar-module-button {
  background-color: $crust-transparent;
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  color: $overlay1;
  font-size: 22px;
  min-width: 70px;
}

bar-module-button:hover {
  background-color: $surface0;
  color: $accent-background;
}

desktop-menu-button label {
  background-color: $crust-transparent;
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 2px solid $surface2;
  color: $overlay1;
  font-weight: 600;
  border-radius: 99px;
  min-width: 160px;
  padding: 5px;
  margin: 2px;
}

desktop-menu-button label:hover {
  border: 2px solid $accent-background;
  color: $accent-background;
}

slider-device-name{
    color: $overlay1;
    font-size: 16px;
    font-weight: 600;
    margin-left: 15px;
}

/* The main slider container */
.slider-control {
  margin: 0px;
}

// /* The track background */
.slider-control trough {
  background-color: $surface2;
  border-radius: $border-radius;
  min-height: 10px;
}

// /* The part showing current progress */
.slider-control highlight {
  background-color: $accent-background;
  border-radius: $border-radius;
}

// /* The draggable handle */
.slider-control slider {
  background-color: $base;
  border: 2px solid $surface1;
  transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 20px;
  min-height: 20px;
  border-radius: 100%;
}

.slider-control slider:hover {
  border: 2px solid $accent-background;
}