/*
* Latte-Mocha
*/

$border-radius: 15px;

$border: #414868;

$hover-background: #9aa5ce;
$hover-foreground: #1a1b26;

$text: #c0caf5;
$subtext0: #a9b1d6;
$subtext1: #9aa5ce;

$accent-background: #04a5e5;
$accent-background-transparent: #7dcffffa;
$accent-foreground: #1a1b26;

$base: #1a1b26;
$base-transparent: #1a1b26e0;

$mantle: #24283b;
$mantle-transparent: #24283bf2;

$crust: #1a1b26;
$crust-transparent: #1a1b26f2;

$surface0: #1f2335;
$surface0-transparent: #1f2335fa;

$surface1: #2a2f4b;
$surface1-transparent: #2a2f4bfa;

$surface2: #3b4261;
$surface2-transparent: #3b4261fa;

$overlay0: #414868;
$overlay0-transparent: #414868fa;

$overlay1: #565f89;
$overlay1-transparent: #565f89fa;

$overlay2: #9aa5ce;
$overlay2-transparent: #9aa5cefa;

$red: #f7768e;
$orange: #ff9e64;
$yellow: #e0af68;
$green: #9ece6a;
$teal: #73daca;
$cyan: #7dcfff;
$blue: #7aa2f7;
$magenta: #bb9af7;
$white: #c0caf5;
$black: #1a1b26;

$lavender: #7287fd;
$sapphire: #209fb5;
$sky: #04a5e5;
$peach: #fe640b;
$maroon: #e64553;
$mauve: #8839ef;
$pink: #ea76cb;
$flamingo: #dd7878;
$rosewater: #dc8a78;