$border-radius: 15px;

$border: #3a3a3a;

$hover-background: #1a1a1a;
$hover-foreground: #ffffff;

$text: #ffffff;
$subtext0: #d0d0d0;
$subtext1: #b0b0b0;

$accent-background: #20aaf9;
$accent-background-transparent: #20aaf9fa;
$accent-foreground: #121212;

$base: #121212;
$base-transparent: #121212da;

$mantle: #1a1a1a;
$mantle-transparent: #1a1a1afa;

$crust: #202020;
$crust-transparent: #202020fa;

$surface0: #1c1c1c;
$surface0-transparent: #1c1c1cfa;

$surface1: #222222;
$surface1-transparent: #222222fa;

$surface2: #2a2a2a;
$surface2-transparent: #2a2a2afa;

$surface3: #323232;
$surface3-transparent: #323232fa;

$surface4: #3a3a3a;
$surface4-transparent: #3a3a3afa;

$surface5: #444444;
$surface5-transparent: #444444fa;

$overlay0: #454545;
$overlay0-transparent: #454545fa;

$overlay1: #505050;
$overlay1-transparent: #505050fa;

$overlay2: #5a5a5a;
$overlay2-transparent: #5a5a5afa;

$red: #f40008;
$orange: #ff5631;
$yellow: #f4f322;
$green: #09fc00;
$teal: #30fc91;
$cyan: #00fcff;
$blue: #20aaf9;
$magenta: #ff00f3;
$white: #ffffff;
$black: #121212;

$lavender: #7287fd;
$sapphire: #209fb5;
$sky: #04a5e5;
$peach: #f40008;
$maroon: #e64553;
$mauve: #bc38ff;
$pink: #fe00ff;
$flamingo: #dd7878;
$rosewater: #dc8a78;